#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff; 
}

h1 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(31, 47, 53)
}


